/* font  */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* ------ Buttons ------ */
/* colored buttons */
.download-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-radius: 50px;
    background: #afe274;
    box-shadow: 8px 10px 0px 1px #000000;
    cursor: pointer;
}
/* white buttons */
.white-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 8px 10px 0px 1px #000000;
    cursor: pointer;
}
.gs-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-radius: 50px;
    background: #afe274;
    box-shadow: 8px 10px 0px 1px #000000;
    cursor: pointer;
    margin: 30px auto;
}
.gs-btn-div{
    background: #d9f1be;
    width: 50%;
    padding: 3px;
    border-radius: 70px;
    margin: 0 auto;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-family: "Darker Grotesque", serif;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 2px solid black;
}
.nav-list{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    width: 150px;
}
.app-store{
    width: 50px;
}

/* Hero Section  */
.user-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0f1ce;
    padding: 10px;
    width: fit-content;
    margin: 50px auto;
    border-radius: 50px;
    gap: 15px;
    font-family: "Darker Grotesque", serif;
    font-weight: 600;
    font-size: 16px;
}
.hero-top{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: "Darker Grotesque", serif;
}
.hero-top h1{
    font-size: 64px;
    font-weight: 500;
}
.hero-top p{
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
}
.hero-top div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}
/* Sponsors section */
.sponsors-sec{
    font-family: "Darker Grotesque", serif;
    padding: 15px 40px;
}
.sponsors-sec h4{
   text-align: center;
   font-size: 24px;
   font-weight: 600;
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.parent div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent div img{
    width: 200px;
}
/* services section */
.services{
    font-family: "Darker Grotesque", serif;
    margin-top: 50px;
}
.services h3{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}
.services-sec{
    width: 400px;
    height: 180px;
    background: #afe274;
    box-shadow: 8px 10px 0px 1px #000000;
    padding: 5px 0 10px 15px;
    border-radius: 10px;
}
.services-sec h4,
.services-sec-2 h4{
    /* text-align: center; */
    font-size: 20px;
   font-weight: 600;
   margin-top: 10px;
}
.services-sec div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.services-sec div img{
    width: 80px;
}
.services-sec div p{
    width: 70%;
    font-size: 16px;
    font-weight: 500;
}
.services-top{
    display: flex;
    gap: 20px;
}
.services-sec-2{
    width: 500px;
    height: auto;
    background: #afe274;
    box-shadow: 8px 10px 0px 1px #000000;
    padding: 5px 5px 0 15px;
    border-radius: 10px;
}
.services-sec-2 div p{
    width: 55%;
    font-size: 16px;
    font-weight: 500;
}
.services-sec-2 div img{
    width: 130px;
    /* margin-right: 30px; */
    position: absolute;
    right: 20px;
}
.services-sec-2 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: relative;
    /* gap: 90px; */
}
.services-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.services-btn{
    width: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
/* how to get started */
.how-to{
    height: 100vh;
    font-family: "Darker Grotesque", serif;
}
.how-to h2{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}
.gs-one{
    /* display: flex; */
    background: #eef8e3;
    box-shadow: 8px 10px 0px 1px #000000;
    width: 30%;
    border-radius: 10px;
    height: 300px;
    justify-content: space-between;
    padding: 20px;
}
.gs-div{
    display: flex;
}
.gs-img{
    width: 30px;
    height: 50px;
}
.gs-one div p{
    font-size: 16px;
    width: 85%;
    margin-top: 20px;
    font-weight: 500;
}
.gs-one div h4{
    font-weight: 600;
    font-size: 20px;
}
.d1{
    display: flex;
    gap: 20px;
}